In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from acquire import get_telco_churn_data
from prepare import prep_telco_data

In [2]:
train, validate, test = prep_telco_data(get_telco_churn_data())

In [3]:
train

,customer_id,senior_citizen,tenure,multiple_lines,internet_service_type_id,contract_type_id,monthly_charges,total_charges,contract_type,internet_service_type,...,has_phone,DSL,Fiber optic,None,Month-to-month,One year,Two year,No,No phone service,Yes
5721,9442-JTWDL,0,11,No,3,2,20.05,237.70,One year,None,...,1,0,0,1,0,1,0,1,0,0
4504,2673-ZALNP,0,7,No,3,2,19.90,173.15,One year,None,...,1,0,0,1,0,1,0,1,0,0
4978,1676-MQAOA,0,72,No,1,3,75.10,5336.35,Two year,DSL,...,1,1,0,0,0,0,1,1,0,0
3331,9992-UJOEL,0,2,No,1,1,50.30,92.75,Month-to-month,DSL,...,1,1,0,0,1,0,0,1,0,0
3607,7850-VWJUU,0,23,No,2,1,75.00,1778.50,Month-to-month,Fiber optic,...,1,0,1,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4035,9947-OTFQU,1,15,No,2,1,74.40,1074.30,Month-to-month,Fiber optic,...,1,0,1,0,1,0,0,1,0,0
381,3256-EZDBI,1,51,No phone service,1,1,29.45,1459.35,Month-to-month,DSL,...,0,1,0,0,1,0,0,0,1,0
1260,3663-MITLP,0,15,No,2,1,101.25,1457.25,Month-to-month,Fiber optic,...,1,0,1,0,1,0,0,1,0,0
4338,8387-UGUSU,0,15,No,3,1,20.05,284.30,Month-to-month,None,...,1,0,0,1,1,0,0,1,0,0
6867,7267-FRMJW,0,25,No,3,3,20.10,486.05,Two year,None,...,1,0,0,1,0,0,1,1,0,0